<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <!-- 先定义所有的appender -->
    <appenders>
       <!--  这个输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）,该项可不配置,不配置时,级别使用logger中的配置 -->
<!--             <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/> -->
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
       <!--  打印出所有日志信息到文件，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用 -->
        <File name="log" fileName="D:/logs/temp/test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
       <!--  这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="RollingFile" fileName="D:/logs/testAGV/testAGV.log"
                     filePattern="D:/logs/testAGV/$${date:yyyy-MM}/testAGV-%d{MM-dd-yyyy}-%i.log.gz">
            <!-- 只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50KB"/>
        </RollingFile>
    </appenders>
  <!--   然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <!-- 配置指定包的日志级别 (additivity设为false,关闭叠加匹配,只匹配当前logger配置,避免多次匹配后产生多次打印) -->
        <logger name="com.his.net.agv" level="trace" additivity="false">
             <appender-ref ref="Console"/>
             <appender-ref ref="RollingFile"/>
        </logger>
        <!--  配置一个默认的root的logger 全局级别设置-->
        <root level="error">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
<!--             <appender-ref ref="log"/> -->	<!-- 有临时打印需求时放开该行注释 -->
        </root>
    </loggers>
</configuration> 